# Ignore everything
*

# Don't ignore classes
!classes/
# Don't ignore models
!models/
!models/*
!img_stats/
!img_stats/*
!stats/
!stats/*
# Don't ignore .gitignore
!.gitignore

# Now exclude our type
!*.py
!*.md
!*.jpg
!*.m
!*.txt
*~
